# Configurações do Pipeline de Machine Learning

# Quais modelos base treinar?
TRAIN_LINEARSVC=True
TRAIN_DT=True
TRAIN_RF=True
TRAIN_ET=False
TRAIN_HGB=False

# Treinar o Stacking Ensemble? (Requer que os modelos base também estejam habilitados ou previamente treinados, mas o pipeline atual os treina internamente)
TRAIN_STACKING=True

# Modos de Treinamento a executar no main.py
RUN_BINARY=True
RUN_MULTICLASS=True

# Fração de amostragem do dataset (0.1 = 10%, 1.0 = 100%)
SAMPLE_FRAC=0.1
